#card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vh;
}

#card{
    width:30vh;
    background-color: #f9f9f9;
    border: 1.5px solid #8e8e8e;
    border-radius: 1vh;
    overflow: hidden;
}

#download{
    border-top: 1.5px solid #8e8e8e;
    background-color: #1d1d1d;
    justify-content: center;
    padding: 3vh;
}

#warning-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#warning{
    width:60vh;
    background-color: #f9f9f9;
    border: 1.5px solid #8e8e8e;
    border-radius: 1vh;
}

#warning-content{
    padding: 1rem;
}

#card-content{
    padding: 1rem;
}