#card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
}

#card{
    width: 35vh;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1.5px solid #8e8e8e;
    border-radius: 1vh;
}

#card-content{
    padding: 1vh;
    display: flex;
    align-items: center;
    gap: 2vh;
}

#download{
    border-top: 1.5px solid #8e8e8e;
    background-color: #1d1d1d;
    padding: 2vh;
}

#warning-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#warning{
    width:60vh;
    background-color: #f9f9f9;
    border: 1.5px solid #8e8e8e;
    border-radius: 1vh;
}

#warning-content{
    padding: 1vh;
}