nav{
    z-index: 1;
    position: sticky;
    top: 0;
}

#nav-content{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: rgb(0, 179, 255);
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 10px 0px black;
}

a{
    color: rgb(0, 179, 255);
    text-decoration: none;
}