body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: 500;
    background-color: rgb(33, 33, 33);
    overflow: hidden; 
}

#warning-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation-name: boot;
    animation-duration: 600ms;
}

@keyframes boot {
    0%{transform: translateY(100px);}
    0%{opacity: 0;}
}

#warning{
    padding: 10px;
    background-color: white;
    border-radius: 2rem;
}

#warning-content{
    text-wrap: wrap;
    padding: 1rem
}

#warning-content-mobile{
    text-wrap: wrap;
}

button{
    padding:10px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 1vh;
    transition: 100ms;
}

button:hover{
    background-color: rgb(19, 109, 148);
    color: white;
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}

@media only screen and (max-width: 600px) {
    #warning-content-mobile::after{
            color: red;
            content: " DETECTED: youre vieving this website on a mobile device adobe software is only available on Windows and macos you can view this website for testing purproses";
        }
    }